<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar><br>
<div class="container padding-20">
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Locations</mat-label>
      <mat-select [(ngModel)] ="location" name="location">
        <mat-option *ngFor="let topping of locationList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-left:10px  ">
      <mat-label>Duration</mat-label>
      <mat-select name="time">
        <mat-option [value]="1">1 Hr</mat-option>
        <mat-option [value]="10">10 Hr</mat-option>
        <mat-option [value]="16">16 Hr</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="getWetherData()"
      style="margin-left:10px; position:relative; top:-10px">Search</button>
  </div>
</div>

<!-- weather reports  -->
<div class="container padding-20" *ngIf ="showList">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile>
      <mat-card class="example-card" style="margin-left: 10px;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>temp</mat-card-title>
          <mat-card-subtitle>{{weatherList['main'].temp}}<sup>o</sup> Deg</mat-card-subtitle>
        </mat-card-header>
        <p>
          Feels Like : {{weatherList['main'].feels_like}}
          humidity :{{weatherList['main'].humidity}}
          pressure: {{weatherList['main'].pressure}} <br>
          temp_max : {{weatherList['main'].temp_max}}
          temp_min :{{weatherList['main'].temp_min}}
        </p>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <!-- weather -->
    <mat-grid-tile>
      <mat-card class="example-card" style="margin-left: 10px;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>weather</mat-card-title>
          <mat-card-subtitle>{{weatherList['weather'][0].main}}</mat-card-subtitle>
        </mat-card-header>
        <p>
          Description : {{weatherList['weather'][0].description}}

        </p>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <!-- wind -->
    <mat-grid-tile>
      <mat-card class="example-card" style="margin-left: 10px;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Wind</mat-card-title>
          <mat-card-subtitle>{{weatherList['wind'].deg}}</mat-card-subtitle>
        </mat-card-header>
        <p>
          Speed : {{weatherList['wind'].speed}}

        </p>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>



</div>